<ion-content [fullscreen]="true">

  <!-- Login Page -->
  <div class="container"  *ngIf="screen === 'signin'">
    <h1 class="heading">👋 Welcome<br><br></h1>
    <p class="para">Sign in to continue!</p>
    <form [formGroup]="loginForm">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Username</legend> 
          <ion-input formControlName="username" type="username" placeholder="Enter Your Username" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input formControlName="password" type="password" placeholder="Enter Your Password" required></ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a (click)="change('forget')">Forgot Password?</a></p>
      <p class="signup-text">I'm a new user&nbsp;<a (click)="change('signup')">Sign Up?</a></p>
      <p style="text-align: center;">
        <span *ngIf="loginError" [innerHtml]="loginError" class="error"></span>
      </p>
      <ion-button class="login-button" (click)="login()" expand="block">Login</ion-button>
    </form>
  </div>

  <!-- Sign up page -->
  <div class="container"  *ngIf="screen === 'signup'">
    <h1 class="heading">🚀 Create Account<br><br></h1>
    <p class="para">Sign up to get started!</p>
    <form [formGroup]="registerForm">
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>First Name</legend> 
          <ion-input formControlName="first_name" type="text" placeholder="Enter Your First Name" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Last Name</legend> 
          <ion-input formControlName="last_name" type="text" placeholder="Enter Your Last Name" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Username</legend> 
          <ion-input formControlName="username" type="text" placeholder="Enter Your Username" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset  class="input-item">
          <legend>Email Id</legend> 
          <ion-input formControlName="email" type="email" placeholder="Enter Your Email Id" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Password</legend> 
          <ion-input formControlName="password" type="password" placeholder="Enter Your Password" required></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item">
          <legend>Confirm Password</legend> 
          <ion-input formControlName="confirm_password" type="password" placeholder="Enter Your Confirm Password" required></ion-input>
        </fieldset>
      </ion-item>
      <p class="signup-text">I'm already a member&nbsp;<a (click)="change('signin')">Sign In?</a></p>
      <span *ngIf="registerError" [innerHtml]="registerError" style="color: red;"></span>
      <ion-button class="login-button" (click)="register()" expand="block">Sign Up</ion-button>
    </form>
  </div>

  <!-- Forget password page -->
  <div class="container"  *ngIf="screen === 'forget'">
    <h1 class="heading">Forget Password?<br><br></h1>
    <p class="para">Enter email to reset</p>
    <ion-item lines="none" class="ion-item">
      <fieldset  class="input-item">
        <legend>Email Id</legend> 
        <ion-input type="email" placeholder="Enter Your Email Id" required></ion-input>
      </fieldset>
    </ion-item>
    <p class="signup-text">Rememberd Password&nbsp;<a (click)="change('signin')">Sign In?</a></p>
    <ion-button class="login-button" expand="block">Reset Password</ion-button>
  </div>


</ion-content>
<ion-footer color="white">
  <ion-toolbar color="primary">
    <p class="copyright">Elite Gems Collection</p>
  </ion-toolbar>
</ion-footer>