<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-card class="icon-card" routerLink="/account/profile">
    <ion-card-content class="card-content">
      <ion-icon size="large" name="person-circle-outline"></ion-icon>
      <span>
        Profile
      </span>
    </ion-card-content>
  </ion-card> -->
  <ion-card *ngIf="token" class="icon-card" routerLink="/account/orders">
    <ion-card-content class="card-content">
      <ion-icon size="large" name="list-outline"></ion-icon>
      <span>
        Orders
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card class="icon-card" routerLink="/account/about-us">
    <ion-card-content class="card-content">
      <ion-icon size="large" name="people-circle-outline"></ion-icon>
      <span>
        About Us
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card class="icon-card" routerLink="/account/privacy-policy">
    <ion-card-content class="card-content">
      <ion-icon size="large" name="document-lock-outline"></ion-icon>
      <span>
        Privacy Policy
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card class="icon-card" routerLink="/account/refund-policy">
    <ion-card-content class="card-content">
      <ion-icon name="return-down-back-outline" size="large"></ion-icon>
      <span>
        Refund Policy
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card class="icon-card" routerLink="/account/terms-and-conditions">
    <ion-card-content class="card-content">
      <ion-icon name="document-text-outline" size="large"></ion-icon>
      <span>
        Terms & Conditions
      </span>
    </ion-card-content>
  </ion-card>
  <div style="padding: 20px;">
    <ion-button fill="outline" class="width-full" size="small"  (click)="logout()">
      <ion-icon color="primary" name="log-out-outline" size="large"></ion-icon>&nbsp;&nbsp;
      {{ token ? 'Logout' : 'Login'}}
    </ion-button>
  </div>
</ion-content>
