<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Order No. # {{ id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="order">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Order Number #{{ id}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <h4 style="margin-top: 35px"><span>Products</span></h4>
  <div style="height: 10px"></div>
  <ion-grid *ngIf="order">
    <ion-row *ngFor="let product of order.line_items">
      <ion-col size="12">
        <ion-card class="cart-card">
          <ion-row>
            <ion-col size="4" class="margin-0 padding-0 cart-image-container">
              <div>
                <img
                  [src]="product.image?.src || 'assets/default.png'"
                  class="cart-image padding-0 width-full"
                />
              </div>
            </ion-col>
            <ion-col size="8" class="margin-0 padding-0">
              <div class="product-detail">
                <div class="label">Product Name:</div>
                <div class="value">{{ product.name }}</div>
              </div>
              <div class="product-detail">
                <div class="label">Price:</div>
                <div class="value">
                  <span class="sale-price">₹{{ product.price }}</span>
                </div>
              </div>

              <div class="product-detail">
                <div class="label">Total:</div>
                <div class="value">
                  <span class="total_quantity_price">
                    {{ product.quantity }}
                    <span style="font-weight: bold">x</span>
                    ₹{{product.price}} =
                  </span>
                  <span class="total_price">
                    ₹{{ product.total }}
                  </span>
                </div>
              </div>

              
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4 style="margin-top: 35px" *ngIf="order">
    <span>Address</span>
  </h4>
  <div style="height: 10px" *ngIf="order"></div>
  <ion-card *ngIf="order" style="border-radius: 10px">
    <ion-card-content>
      <ion-row>
        <ion-col size="2" class="ion-align-self-center center-item">
          <ion-icon color="primary" name="pin-outline" size="large"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <span style="font-size: 1.2em; font-weight: bold; color: black">
            {{ order.shipping.state}} / {{order.shipping.city}} </span
          ><br />
          {{ order.shipping.address_1}}<br />
          {{ order.shipping.address_2}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <h4 style="margin-top: 35px"><span>Total</span></h4>
  <div style="height: 10px"></div>
  <ion-card>
    <ion-card-content>

      <div class="product-detail">
        <div class="label">Payment Method:</div>
        <div class="value review-total">
          {{ order.payment_method_title === 'cod' ? 'Cash On Delivery' : 'Razorpay'}}
        </div>
      </div>
      <div class="product-detail" *ngIf="!order.needs_payment">
        <div class="label">Paid:</div>
        <div class="value ion-text-capitalize">{{ !order.needs_payment }}</div>
      </div>
      <div class="product-detail" *ngIf="!order.needs_payment">
        <div class="label">Date Paid:</div>
        <div class="value ">{{ order.date_paid  | date: 'd MMM yyyy h:mm a' }}</div>
      </div>
      <div class="product-detail">
        <div class="label">Date Created:</div>
        <div class="value">{{ order.date_created  | date: 'd MMM yyyy h:mm a'  }}</div>
      </div>
      <div class="product-detail" >
        <div class="label">Order Total:</div>
        <div
          class="value review-total"
          style="font-size: large; color: #0054e9"
        >
          ₹{{ order.total }}
        </div>
        
      </div>
      <div class="product-detail">
        <div class="label">Status:</div>
        <div class="value review-total ion-text-capitalize">{{ order.status }}</div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
