<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Shipping Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Shipping Method</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ul class="progress-indicator">
      <li [class.completed]="true">
        <span class="bubble">
          <!-- <div class="dot"></div> -->
        </span>
        {{'address'}}
      </li>
      <li [class.completed]="true">
        <span class="bubble">
          <!-- <div class="dot"></div> -->
        </span>
        {{'shipping'}}
      </li>
      <li [class.completed]="false">
        <span class="bubble">
          <!-- <div class="dot"></div> -->
        </span>
        {{'payment'}}
      </li>
      <li [class.completed]="false">
        <span class="bubble">
          <!-- <div class="dot"></div> -->
        </span>
        {{'review'}}
      </li>
    </ul>
  </ion-card>
  <h4 style="margin-top: 35px;" ><span>Shipping Method</span></h4>
  <div style="height: 10px;"></div>
  <ion-card class="icon-card" *ngIf="method" routerLink="/checkout/payment">
    <ion-card-content class="card-content">
      <ion-icon size="large" name="airplane-outline"></ion-icon>
      <span>
        {{ method.method_title }}
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>
