.content {
    height: 100%;
  }
  
iframe{

    overflow-clip-margin: content-box !important;
    overflow: clip !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    height: 100%;
    width: 100%;
    border: 0;
}
  