.product-card{
    min-height: 160px;
    margin: 0;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: black;
  border: 1px solid #e9d681; /* Set border color to red */

}
.product-skeleton {
    border-radius: 10px;
    min-height: 191px;
}
.product-image{
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.selected-sort {
    margin-left: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
}