<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ categoryName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!products" (click)="presentSortSheet()">
        <ion-icon slot="icon-only" name="options-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/tabs/cart">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        <ion-badge *ngIf="service.cart_count !== 0" color="secondary" class="cart-badge"><span class="center" style="color:white">{{service.cart_count}}</span></ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Product</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-chip class="selected-sort" *ngIf="selectedSort" color="secondary">
    <ion-label>{{selectedSort.title}}</ion-label>
    <ion-icon (click)="removeSort()" name="close"></ion-icon>
  </ion-chip>
  
  <ion-grid>
    <ion-row *ngIf="products">
      <ion-col size="6" *ngFor="let product of products">
        <ion-card class="product-card" [routerLink]="['/product-detail', product.id, product.name]" (click)="service.storeProduct(product)">
          <ion-card-content>
            <img [src]="product.images[0]?.src" alt="{{ product.title }}" class="product-image" />
            <ion-card-title style="text-align: center; font-size: 15px; margin-top: 15px; color: #e9d681;">{{ product.name }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!products">
      <ion-col size="6" *ngFor="let product of [0, 1, 2, 3, 4, 5]">
        <ion-skeleton-text animated class="product-skeleton"></ion-skeleton-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more products..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
